.App {
  text-align: center;
}
nav{
  display: flex;
  /* outline: 2px solid red; */
  /* background-color: orange; */
  background-color: rgb(138, 137, 136);
  height: 80px;
  align-items: center;
  justify-content: space-between;
  padding: 1em;
  /* position: fixed; */
  /* width: 100%; */
}
nav a{
  text-decoration: none;
  font-size: 1.5rem;
  color:#fff;
  border: 1px solid ;
  padding: 10px;
  border-radius: 1em;
  box-shadow: 2px 2px ;
}
.itemNumber{
  position: absolute;
  right: 1rem;
  top: 0;
  border: 2px solid white;
  padding: .2rem;
  border-radius: 1rem;
  background-color: rgb(138, 137, 136);
  color: #fff;
}