.navbar{
    width: 100%;
    height: 100px;
    /* background-color: rgb(19, 19, 19); */
    background-color: orange;
    display: flex;
}
.links{
    width: 95%;
    margin: auto;
    display: flex;
    align-items: center;
    /* outline: 2px solid red; */
    justify-content: space-between;
}
.links a{
    text-decoration: none;
    color:white;
    margin-left:20px;
    font-size: 25px;
}